* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
    background-color: beige;
  }

header{
    padding: 20px 10px;
    text-align: center;
}

.desktop-text{
    display:block;
}

.tablet-text {
    display: none;
}

.mobile-text {
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.text-content {
    flex: 1;
    margin: 10px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

h1 {
    margin-bottom: 15px;
}

.image-content {
    flex: 1;
    margin: 10px;
    align-items: center;
    justify-items: center;
  }


  .image-grid img {
    width: 20vw;
    height: auto;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
  }

  .img1 {
    display: block;
  }

  .img2 {
    display: none;
  }

  .img3 {
    display: none;
  }

@media(max-width: 1024px){
    body{
      background-color:rgb(86, 53, 53);
    }

    h1{
        color:rgb(156, 156, 156);  
    }

    .text-content{
        color:rgb(156, 156, 156);
    }

    .container{
      flex-direction:column;
    }

    .desktop-text{
      display:none;
    }
    .mobile-text{
      display: none;
    }
    .tablet-text{
      display: block;
      color: white;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

    .img3 {
        display: none;
    }

    .text-content,
    .image-content{
      margin-bottom: 20px;
    }
  }


  @media(max-width: 768px){
    body{
        background-color:black;
      }
  
      h1{
        color: black;  
    }

    .text-content{
        color:black;
    }

      .container{
        flex-direction:column;
      }
  
      .desktop-text{
        display:none;
      }
      .mobile-text{
        display: block;
        color: white
      }
      .tablet-text{
        display: none;
      }
  
      .img1 {
          display: none;
      }
  
      .img2 {
          display: none;
      }
  
      .img3 {
          display: block;
      }
  
      .text-content,
      .image-content{
        margin-bottom: 20px;
      }
  }
  


  